<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-reset-text-zoom" version="1.1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

  <name>ResetTextZoom</name>

  <!-- Android -->
  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="ResetTextZoom">
        <param name="android-package" value="com.example.resettextzoom.ResetTextZoom" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/android/ResetTextZoom.java" target-dir="src/com/example/resettextzoom" />
  </platform>

  <!-- iOS -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="ResetTextZoom">
        <param name="ios-package" value="ResetTextZoom" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/ios/ResetTextZoom.m" />
  </platform>

</plugin>
